/* Start Variables */
:root {
  --main-color: #19c8fa;
  --saconder-color: #777;
}
/* End Variables */
/* --------------------------------------------------- */
/* Start Global Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* --------------------------------------------------------------- */

/* Start Componets */
.main-heading {
  /* padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; */
  text-align: center;
}
.main-heading h2 {
  font-size: 40px;
  font-weight: normal;
  position: relative;
  margin: 70px auto 70px;
  text-transform: uppercase;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 120px;
  background-color: #333;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  /* z-index: 1; */
}

.main-heading h2::after {
  content: "";
  /* background: black; */
  height: 15px;
  width: 15px;
  position: absolute;
  border: 2px solid #333;
  border-radius: 50%;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
  /* top: 0; */
  background-color: white;
  /* z-index: 2; */
}

.main-heading p {
  margin: 0 auto 100px;
}
/* End Componets */

/* ----------------------------------------------------------------- */

/* Start Header */

@media (max-width: 767px) {
  .container nav ul {
    display: none;
  }
}
@media (max-width: 767px) {
  header .toggle-menu:hover + ul {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* right: 84px; */
    width: 100%;
    background-color: #0000005c;
  }
  header .toggle-menu:hover + ul::after {
    content: "";
    /* position: absolute;
      border: 15px solid;
      border-color: transparent transparent #00000095 transparent;
      top: -29px;
      right: 4px;
      z-index: 11; */
  }
  header ul li a {
    padding: 10px !important;
    transition: 0.5s;
  }

  .container ul li {
    transition: 00.5s;
  }
}
header {
  position: absolute;
  left: 0;
  width: 100%;
  /* right: 0; */
  z-index: 101;
}
header .container {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  align-items: center;
  position: relative;
  /* border-bottom: 1px solid white; */
}

header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 30px);
  background-color: white;
  bottom: 0px;
}

header .container img {
  height: 40px;
}

.container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

header .toggle-menu {
  font-size: 20px;
  color: white;
}

@media (min-width: 635px) {
  header .toggle-menu {
    display: none;
  }
}

.container nav ul {
  display: flex;
}
@media (max-width: 635px) {
  .container nav ul {
    display: none;
  }
  .toggle-menu {
    padding-right: 15px;
  }
}
.container nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  display: block;
  padding: 30px 20px;
  /* transition: 0.3s; */
  position: relative;
  z-index: 3;
}
.container nav ul li a.active,
.container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  transition: 0.5s;
  z-index: 2;
}
.container nav ul li:last-child {
  padding-right: 20px;
  /* background-color: red; */
}
.container .form {
  border-left: 1.5px solid white;
  padding-left: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .form i {
  font-size: 20px;
  color: white;
}
/* End Header */
/* ---------------------------------------------------------------------------------- */
/* Start Landing  */

.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url(../image/landing2.jpg);
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 40%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.landing .txt {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  background-color: rgb(15 116 143 / 70%);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 30px;
  color: white;
}
@media (max-width: 767px) {
  .landing .txt {
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
.landing .content {
  max-width: 500px;
}
.landing .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: start;
}
.landing .content p {
  line-height: 1.8;
}
.landing .change-background {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.landing .fa-angle-left {
  left: 10px;
}
.landing .fa-angle-right {
  right: 10px;
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .bullets {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 10px;
}

.landing li.active {
  width: 25px;
  height: 25px;
  border-color: var(--main-color);
  background-color: var(--main-color);
}
/* End Landing  */
/* --------------------------------- */
/* Start Servers */

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 500px; */
}
@media (min-width: 767px) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-column-gap: 70px; */
    /* grid-row-gap:70px ; */
    column-gap: 70px;
    row-gap: 70px;
  }
}
.services-box {
  max-width: 500px;
  /* flex: 1; */
  display: flex;
}
.services-box i {
  padding-right: 20px;
}
/* .services-box .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.services-box .info h3 {
  color: var(--main-color);
  padding-bottom: 20px;
}

.services-box .info p {
  color: var(--saconder-color);
  padding-bottom: 20px;
}

/* End Servers */
/* ------------------------------------------------ */
/* Start Design */

.design {
  margin-top: 60px;
  background-image: url(../image/design-features.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
}

.design::before {
  content: "";
  position: absolute;
  background-color: rgb(0 0 0 / 40%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.design .image,
.design .info {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image {
  text-align: center;
}

.design .image img {
  position: absolute;
  left: 0px;
  top: 50%;
  /* transform: translateY(-50%); */
}
.design .info {
  background-color: rgb(15 116 143 / 70%);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 30px;
  color: white;
}
@media (max-width: 679px) {
  .design .info {
    width: 100%;
    /* margin-top: 30px; */
    top: 172px;
  }
  .design {
    display: flex;
    flex-direction: column;
  }
  .design .image img {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.design .info h2 {
  /* font-size: 24px; */
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.design .info ul li {
  padding: 12px 0;
}
.design .info ul li::before {
  font-family: "Font Awesome 6 Duotone";
  font-weight: 900;
  content: "\f0fc";
  margin-right: 20px;
  position: relative;
  top: 1px;
  /* background-image: ur; */
}
/* End Design */
/* ------------------------ */

/* Start Portfolio */
.portfolio .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .container nav {
  padding-bottom: 20px;
}
.portfolio .container nav ul li {
  padding: 10px 20px;
}
.portfolio .container nav ul li.active {
  background-color: var(--main-color);
  color: white;
}

.portfolio .image-container {
  /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.image-container .image-box {
  flex-basis: 50%;
  position: relative;
  overflow: hidden;
}
.image-container .image-box:hover .info {
  bottom: 0;
}
.image-container .image-box:hover img {
  transform: rotate(3deg) scale(1.1);
}
@media (min-width: 375px) {
  .image-container .image-box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .image-container .image-box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .image-container .image-box {
    flex-basis: 33%;
  }
}
.image-container .image-box img {
  padding: 0;
  margin: 0;
  max-width: 100%;
  transition: 0.5s;
}
.image-container .image-box .info {
  position: absolute;
  padding: 10px;
  background-color: white;
  left: 0;
  bottom: -100px;
  width: 100%;
  transition: 0.3s;
}

.image-container .image-box .info h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.image-container .image-box .info p {
  color: var(--main-color);
}
.portfolio .more {
  color: white;
  background-color: var(--main-color);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

}
/* End Portfolio */
/* ----------------------------- */
/* Start Video */
.video{
  position: relative;
}
.video::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.video video{
  width: 100%;
}

.video .info-video{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: rgb(15 116 143 / 70%);
  width: 100%;
  color: white;
  padding: 50px;
  text-align: center;
}


.video .info-video h2{
  margin:  0 0 30px;
  font-weight: normal;
}
.video .info-video p{
  margin-bottom: 30px;
}
.video .info-video button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
}
@media(max-width:600px){
  .video .info-video{
    position: absolute;
    left :0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    padding:10px;
    /* height: 50%; */
  }
  .video .info-video h2{
    margin:  0 0 10px;
    font-size: 20px;
    font-weight: normal;
  }
  .video .info-video p{
    margin-bottom: 15px;
  }
}
/* End Video */
/* -------------------------- */
/* Start About */
.about {
  padding: 20px;
  /* position: relative; */
  /* display: flex;
  flex-direction: column; */
  /* overflow: hidden; */
  /* text-align: center; */
}
.about .container img{
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  /* min-width: 100%; */
}
@media(max-width:600px){
  /* .about {
    overflow: visible;
  } */
.about .container img{
  bottom: -60px;
  margin-top: -60px;
}
}
/* End About */

